<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- 
<div>
  <label class="label">
  <app-button [content]="'Create Property'" [type]="'primary'" [routerlink]="'CreateProperty'"></app-button>
  </label>
</div> 
<label class="label">Property List</label>
    <ul class="list-disc">
      <li *ngFor="let prop of properties">
        <label class="label">
          {{prop| json }}
      </label>
      </li>
    </ul> 
  -->
  <div>
    <label class="label">
    <app-button [content]="'Create Property'" [type]="'primary'"  [routerlink]="'CreateProperty'"></app-button>
    </label>
  </div>
    <div class="overflow-x-auto">
      <table class="table table-xs">
        <thead>
          <tr> 
            <th>Id</th>
            <th>Capacity</th> 
            <th>Address</th> 
            <th>Price</th> 
            <th>Date</th>
            <th>PropertyType</th>
          </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let prop of properties">
            <td>{{prop._id}}</td>
            <td>{{prop.capacity}}</td>
            <td>{{prop.address}}</td>
            <td>{{prop?.pricePerNight?.price}}</td>
            <td>{{prop?.pricePerNight?.date}}</td>
            <td>{{prop.propertyType}}</td>
            <app-button [content]="'edit'" [type]="'primary'" [routerlink]="'CreateProperty'"></app-button>
            <app-button [content]="'delete'" [type]="'primary'" [routerlink]="'CreateProperty'"></app-button>
          </tr>
        </tbody> 
      </table>
    </div>
    <router-outlet></router-outlet>
