.btn-primary{
    height: 48px;
    width: 127px;
    background-color: #EB5757;
    color: #F2F2F2;
    border-radius: 15px;
}

.btn-cancel{
    height: 48px;
    width: 127px;
    background-color: #605F5F;
    color: #F2F2F2;
    border-radius: 15px;
}

.btn-navbar{
    height: 48px;
    width: 225px;
    background-color: #EB5757;
    color: #F2F2F2;
    border-radius: 15px;
}

.cursor-pointer{
  cursor: pointer;
}