<ng-container *ngIf="routerlink">
  <button
    [type]="type"
    [ngClass]="{
      'btn-primary': classType === 'primary',
      'btn-cancel': classType === 'cancel',
      'btn-navbar': classType === 'navbar',
      'btn btn-disabled': classType === 'disabled'
    }"
    [routerLink]="routerlink"
  >
    <ng-content></ng-content>
  </button>
</ng-container>

<ng-container *ngIf="!routerlink">
  <button
    [type]="type"
    [ngClass]="{
      'btn-primary': classType === 'primary',
      'btn-cancel': classType === 'cancel',
      'btn-navbar': classType === 'navbar',
      'btn btn-disabled': classType === 'disabled'
    }"
  >
    <ng-content></ng-content>
  </button>
</ng-container>