<!-- eslint-disable max-len -->
<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="navigation-wrapper shadow-none">
  <div class="keen-slider keen-slider--vertical" #sliderRef>
    <div class="keen-slider__slide bg-contain bg-no-repeat bg-center" style="background-image: url(../../../../assets/img/{{pack.nameImage}});" *ngFor="let pack of packageFull; index as i">
      <div class=" w-full">
        <div class="backdrop-blur-[10px]"></div>
      </div>
    </div>
  </div>
  <button class="arrow arrow--left btn btn-circle" (click)="slider.prev()">❮</button>
  <button class="arrow arrow--right btn btn-circle" (click)="slider.next()">❯</button>
</div>
<div class="dots">
  <button
    (click)="slider.moveToIdx(i)"
    *ngFor="let slide of dotHelper; let i = index"
    [class]="'dot ' + (i === currentSlide ? 'active' : '')"
  ></button>
</div>