[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  height: 200px;
  background-color: transparent;
  position: relative;
}

.container-carousel {
  padding: 0 2rem;
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #eb5757;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

img {
  width: inherit;
  height: -webkit-fill-available;
}

.btn-carousel {
  position: absolute;
  top: 15%;
  right: 5%;
}

.card-carousel {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  font-size: 0.7rem;
  ul {
    padding: 4px;
    width: 100%;

    span {
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 450px) {
  .card-carousel {
    font-size: 1rem;

    ul {
      display: flex;
      align-items: center;
      gap: 0.5em;
      justify-content: center;
      padding: 16px;
    }
  }
}
