<!-- eslint-disable max-len -->
<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="container-carousel">
  <div class="navigation-wrapper rounded-2xl">
    <div
      class="keen-slider keen-slider--vertical shadow-none h-auto sm:h-[350px]  rounded-[5px]"
      #sliderRef
    >
      <div *ngFor="let package of packageFull; let i = index">
        <div class="keen-slider__slide number-slide">
          <img src="../../../../assets/img/mendoza.jpg" alt="Imágen del paquete"/>
          <button
            class="btn btn-primary text-white text-sm bg-red-500 border-red-500 hover:[bg-red-500, border-red-500] btn-carousel"
            onclick="modal_register.showModal()"
            *ngIf="!userLogged()"
          >
            Reservar Paquete
          </button>
          <button
            class="btn btn-primary text-white text-sm bg-red-500 border-red-500 hover:[bg-red-500, border-red-500] btn-carousel"
            (click)="goToReserve(package.id)"
            *ngIf="userLogged()"
          >
            Reservar Paquete
          </button>
          <div class="card-carousel">
            <ul>
              <li><span>Cobertura medica:</span> {{package.medicalAssist.description}}.</li>
              <li><span>Auto incluido:</span> {{package.car.brand}} {{package.car.model}}.</li>
              <li><span>Ubicacion:</span> {{package.property.location.name}}.</li>
              <li><span>Para</span> {{package.property.capacity}} <span>personas</span>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <svg
      [ngClass]="
        'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
      "
      (click)="slider.prev()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="slider"
      [ngClass]="
        'arrow arrow--right ' +
        (slider.track.details.slides.length - 1 === currentSlide
          ? 'arrow--disabled'
          : '')
      "
      (click)="slider.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
</div>

<dialog id="modal_register" class="modal d-none">
  <div class="modal-box">
    <h3 class="font-bold text-lg">¡Hola!</h3>
    <p class="py-4">Debe iniciar sesión si quiere reservar</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Cerrar</button>
      </form>
    </div>
  </div>
</dialog>
