.carousel-container {
  width: 70vw;
  height: 80vh;
  margin: 16px auto;
}

:host ::ng-deep{
  .image-container {
      max-width: 85%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .igx-carousel {
      max-width: 100%;
      width: unset;
  }

  .igx-nav-dot {
      background: black;
      box-shadow: none;
      width: 15px;
      height: 15px;
  }

  .igx-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      width: unset;
      background: none;
  }

  .igx-slide img {
      object-fit: fill;
      max-width: 90%;
  }
}

img {
  width: 100%;
  height: auto;
}

.carousel-property{
  position: relative;
}
.btn-carousel{
  background-color: white;
  color: black;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(10%, 10%);
  // padding: 10px;
  border-radius: 5px;
}
.card-carousel{
  background-color: black;
  color: white;
  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(10%, 10%);
  // padding: 10px;
  border-radius: 10px;
}