<!-- eslint-disable max-len -->
<navbar [showSearch]="true"></navbar>
<div class="mx-12">
  <h1 class="text-3xl py-4">Listado de reservas</h1>
  <form
    class="flex flex-row items-center gap-4"
    [formGroup]="dateFilterForm"
    (ngSubmit)="filterReserves()"
  >
    <span class="text-xl">Filtrar por fecha </span>
    <div>
      <label class="label cursor-pointer">
        <span class="label-text">Fecha inicio</span>
        <input
          type="radio"
          class="radio checked:bg-blue-500"
          checked
          value="option1"
          formControlName="radioOption"
        />
      </label>
    </div>
    <div>
      <label class="label cursor-pointer">
        <span class="label-text">Fecha fin</span>
        <input
          type="radio"
          class="radio checked:bg-blue-500"
          checked
          value="option2"
          formControlName="radioOption"
        />
      </label>
    </div>
    <input
      type="date"
      class="input input-bordered input-primary w-full max-w-[12rem]"
      formControlName="dateFilter"
    />
    <button class="btn btn-primary">Filtrar</button>
  </form>
  <div class="alert alert-error" *ngIf="error">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span>Ha ocurrido un error</span>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Reserva</th>
          <th>Detalles</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let reserve of reserves">
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img
                    src="/tailwind-css-component-profile-2@56w.png"
                    alt="Reserve picture"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">{{ reserve.location }}</div>
                <div class="text-sm opacity-50">
                  {{ reserve.propertyAddress }}
                </div>
              </div>
            </div>
          </td>
          <td>
            {{ reserve.car }}
            <br />
            <span class="badge badge-ghost badge-sm">{{
              reserve.medicalAssistance
            }}</span>
          </td>
          <td>{{ reserve.dateStart | date }} - {{ reserve.dateEnd | date }}</td>
          <th>
            <button class="btn btn-ghost btn-xs">acciones</button>
          </th>
        </tr>
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<app-footer></app-footer>
