<navbar [showSearch]="true"></navbar>
<div class="mx-12">
  <h1 class="text-3xl py-4">Listado de reservas</h1>
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Reserva</th>
          <th>Detalles</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let reserve of reserves">
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img
                    src="/tailwind-css-component-profile-2@56w.png"
                    alt="Reserve picture"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">{{ reserve.location }}</div>
                <div class="text-sm opacity-50">
                  {{ reserve.propertyAddress }}
                </div>
              </div>
            </div>
          </td>
          <td>
            {{ reserve.car }}
            <br />
            <span class="badge badge-ghost badge-sm">{{
              reserve.medicalAssistance
            }}</span>
          </td>
          <td>{{ reserve.dateStart | date }} - {{ reserve.dateEnd | date }}</td>
          <th>
            <button class="btn btn-ghost btn-xs">acciones</button>
          </th>
        </tr>
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<app-footer></app-footer>
