<div class="flex justify-center p-6">
  <div class="p-6 bg-base-300 lg:min-w-[500px] rounded-md">
    <h2 class="text-lg font-bold divider leading-6">Iniciar sesion</h2>
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col items-center">
        <app-input
          class="w-[320px]"
          [label]="'Email'"
          [required]="true"
          [placeholder]="''"
          [inputControl]="mail"
        ></app-input>
        <app-input
          class="w-[320px]"
          [required]="true"
          [label]="'Contraseña'"
          [type]="'password'"
          [placeholder]="''"
          [inputControl]="password"
        ></app-input>
      </div>
      <p class="text-sm text-center">
        Necesitas ayuda? <a class="link link-primary" [routerLink]="'/password-reset'">Olvide mi contraseña</a>
      </p>
      <app-button
        class="block w-full p-3 text-center"
        [classType]="'primary'"
        [type]="'submit'"
        >Log in</app-button
      >
    </form>
    <div class="alert alert-error w-[400px] mx-auto my-2 text-slate-200" *ngIf="responseError !== ''">
      {{ responseError }}
    </div>
    <p class="text-sm text-center">
      No tienes una cuenta? <a rel="noopener noreferrer" class="link link-primary" [routerLink]="'/signup'">Regístrate</a>
    </p>
  </div>
</div>
