<div class="collapse bg-base-200" [class.collapse-open]="collapse" [class.collapse-close]="!collapse">
  <input type="checkbox" (click)="toggleCollapse()"/>
  <div class="collapse-title text-xl font-medium"  >
    {{mod === 'add' ? 'Registrar nueva Asistencia Medica' :'Editar asistencia medica'}}
  </div>
  <div class="collapse-content">
    <form [formGroup]="medicalAssistForm" (ngSubmit)="mod === 'add' ? add(medicalAssistForm) : modify()">
      <div class="flex flex-col lg:flex-row gap-5">
        <app-input [label]="'Descripción'"
                    [placeholder]="''"
                    [required]="true"
                    [inputControl]="description">
        </app-input>
        <app-input [label]="'Tipo de cobertura'"
                    [placeholder]="''"
                    [required]="true"
                    [inputControl]="coverageType">
        </app-input>
        <app-input [label]="'Precio'"
                    [placeholder]="'1000'"
                    [required]="true"
                    [inputControl]="price">
        </app-input>
      </div>
      <div class="flex gap-5">
        <app-button [classType]="'cancel'" [type]="'button'" (click)="cancel()">
          Cancelar
        </app-button>
        <app-button [classType]="'primary'" [type]="'submit'">
          {{mod === 'add' ? 'Agregar' : 'Editar'}}
        </app-button>
      </div>
    </form>
  </div>
</div>

<div class="overflow-x-auto">
  <div class="mt-2 mb-2">
    <h2 class="text-base font-semibold leading-7 text-light">Lista de asistencias medicas.</h2>
    <p class="mt-1 text-sm leading-6 text-light">Asistencias medicas vigentes de PHS.</p>
  </div>
  <table class="table table-xs lg:table-md">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Tipo de cobertura</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reg of registros">
        <td>{{reg._id}}</td>
        <td>{{reg.description}}</td>
        <td>{{reg.coverageType}}</td>
        <td>{{reg.price}}</td>
        <td>
          <div class="flex items-center gap-5">
            <svg style="cursor: pointer;" onclick="my_modal.showModal()" (click)="onModify(reg)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
            <svg style="cursor: pointer;" (click)="onDelete(reg)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<confirmation-modal #confirmationModal (confirmationEvent)="delete()">  
  <ng-container modal-title>Confirmación</ng-container>
  <ng-container modal-message>¿Desea eliminar el registro?</ng-container>
</confirmation-modal>

<div class="flex justify-center w-full" [class.hidden]="!hasError" style="margin-top: 3rem;">
  <div role="alert" class="alert alert-warning  w-2/3">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
    <span class="text-black text-lg">{{textAlert}}</span>
  </div>
</div>
