<!-- eslint-disable max-len -->
<div class="flex flex-row justify-center py-4">
  <div
    class="w-full max-w-[570px] rounded-[20px] bg-gray-900 py-12 px-8 text-center md:py-[60px] md:px-[70px]"
  >
    <h3 class="text-white pb-2 text-xl font-bold sm:text-2xl">
      {{ title }}
    </h3>
    <span
      class="bg-red-400 mx-auto mb-6 inline-block h-1 w-[90px] rounded"
    ></span>
    <p class="text-gray-400 mb-10 text-base leading-relaxed">
      {{ message }}
    </p>
    <div class="flex flex-wrap gap-3">
      <button
        class="bg-red-400 border-red-400 block w-full rounded-lg border p-3 text-center text-base font-medium text-white transition hover:bg-opacity-90"
        [routerLink]="routerLink"
      >
        Continuar
      </button>
    </div>
  </div>
</div>
