<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <ng-content></ng-content>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <li *ngFor="let route of buttonsToShow">
        <app-button [content]="route.name" [type]="'navbar'" [routerlink]="route.path"></app-button>
      </li>
    </ul>
  </div>
</div>