<div class="container-reserve">
  <navbar></navbar>
  <form
    class="form-container"
    [formGroup]="reserveForm"
    (ngSubmit)="onSubmit()"
  >
    <section class="reserve-entry">
      <h2 class="title">
        Se ha seleccionado para reserva la propiedad perteneciente a
        <span>{{ package.property.locality }}</span>
      </h2>
      <div class="data-entry">
        <div class="selects">
          <div class="collapse collapse-plus bg-base-200">
            <div class="collapse-title text-l font-medium">Auto incluido</div>
            <div class="collapse-content">
              {{ package.car.brand + package.car.model }}
            </div>
          </div>
          <div class="collapse collapse-plus bg-base-200">
            <div class="collapse-title text-l font-medium">
              Asistencia médica incluida
            </div>
            <div class="collapse-content">
              {{
                package.medicalAssistance.description +
                  "Tipo " +
                  package.medicalAssistance.coverageType
              }}
            </div>
          </div>
        </div>
        <div id="dates" class="max-w-md bg-gray-800 rounded-lg shadow-md p-6">
          <label for="">Check in</label>
          <app-input
            [placeholder]="'Check in'"
            [type]="'date'"
            [inputControl]="checkIn"
          >
          </app-input>
          <label for="">Check out</label>
          <app-input
            [placeholder]="'Check in'"
            [type]="'date'"
            [inputControl]="checkOut"
          >
          </app-input>
          <span
            *ngIf="
              reserveForm.hasError('invalidDate') &&
              reserveForm.get('checkIn')?.touched
            "
            class="label-text-alt text-red-500"
          >
            CheckIn debe de ser menor a CheckOut
          </span>
        </div>
      </div>
    </section>
    <section class="reserve-info">
      <div class="divider">Informacion de reserva</div>
      <div
        class="carousel h-96 carousel-center max-w-md p-4 space-x-4 bg-neutral rounded-box"
      >
        <div class="carousel-item w-full h-full">
          <img src="../../../../assets/img/depto.jpg" alt="" />
        </div>
        <div class="carousel-item w-full h-full">
          <img src="../../../../assets/img/hilux.webp" alt="" />
        </div>
      </div>
      <div class="max-w-md bg-gray-800 rounded-lg shadow-md p-6 summary">
        <p>
          Propiedad
          <span
            >Valor por noche
            {{
              package.property.pricePerNight.price | currency : "USD" : "code"
            }}</span
          >
        </p>
        <p>
          Auto
          <span
            >{{ package.car.brand }}
            {{ package.car.price.value | currency : "USD" : "code" }}</span
          >
        </p>
        <p>
          Asistencia medica
          <span
            >{{
              package.medicalAssistance.description || "Sin asistencia medica"
            }}
            {{ package.medicalAssistance.coverageType }}</span
          >
        </p>
        <p>
          CheckIn
          <span>{{ checkIn.value | date : "MMMM d, y" }}</span>
        </p>
        <p>
          CheckOut
          <span>{{ checkOut.value | date : "MMMM d, y" }}</span>
        </p>
        <div class="divider"></div>
        <p>
          Total
          <span>{{
            package.property.pricePerNight.price + package.car.price.value
              | currency : "USD" : "code"
          }}</span>
        </p>
        <app-button
          class="btn-submit"
          [type]="'submit'"
          [classType]="'primary'"
        >
          Reservar
        </app-button>
      </div>
    </section>
  </form>
  <confirmation-modal #confirmationModal>
    <ng-container modal-title>Confirmar reserva</ng-container>
    <ng-container modal-message
      >Usted esta a punto de reservar la propiedad
    </ng-container>
  </confirmation-modal>
  <snackbar></snackbar>
  <app-footer></app-footer>
</div>
