<div class="container-reserve">
  <form
    class="form-container"
    [formGroup]="reserveForm"
    (ngSubmit)="onSubmit()"
  >
    <section class="reserve-entry">
      <h2 class="title">
        Se ha seleccionado para reserva la propiedad perteneciente a
        <span>{{ package.property.location }}</span>
      </h2>
      <div class="data-entry">
        <div class="selects">
          <div
            tabindex="0"
            class="collapse collapse-arrow border border-base-300 bg-base-200"
          >
            <div class="collapse-title text-xl font-medium">
              Detalles de la propiedad
            </div>
            <div class="collapse-content">
              <p>
                {{ "Dirección: " + package.property.address }}<br />
                {{ "Localidad: " + package.property.location }}<br />
                {{ "Capacidad: " + package.property.capacity + " personas" }}
              </p>
            </div>
          </div>
          <div
            tabindex="0"
            class="collapse collapse-arrow border border-base-300 bg-base-200"
          >
            <div class="collapse-title text-xl font-medium">Auto incluido</div>
            <div class="collapse-content">
              <p>
                {{ package.car.brand + " " + package.car.model }}<br />
                {{
                  "Año: " +
                    package.car.year +
                    " - Patente: " +
                    package.car.plate
                }}
              </p>
            </div>
          </div>
          <div
            tabindex="0"
            class="collapse collapse-arrow border border-base-300 bg-base-200"
          >
            <div class="collapse-title text-xl font-medium">
              Asistencia médica incluida
            </div>
            <div class="collapse-content">
              <p>
                {{
                  package.medicalAssistance.description +
                    " Tipo " +
                    package.medicalAssistance.coverageType
                }}
              </p>
            </div>
          </div>
        </div>
        <div id="dates" class="max-w-md bg-gray-800 rounded-lg shadow-md p-6">
          <label for="">Check in</label>
          <app-input
            [placeholder]="'Check in'"
            [type]="'date'"
            [min]="todayDate()"
            [inputControl]="checkIn"
          >
          </app-input>
          <label for="">Check out</label>
          <app-input
            [placeholder]="'Check in'"
            [type]="'date'"
            [min]="todayDate()"
            [inputControl]="checkOut"
          >
          </app-input>
          <span
            *ngIf="
              reserveForm.hasError('invalidDate') &&
              reserveForm.get('checkIn')?.touched
            "
            class="label-text-alt text-red-500"
          >
            CheckIn debe de ser menor a CheckOut
          </span>
        </div>
      </div>
    </section>
    <section class="reserve-info">
      <div class="divider">Informacion de reserva</div>
      <div
        class="carousel h-96 carousel-center max-w-md p-4 space-x-4 bg-neutral rounded-box"
      >
        <div class="carousel-item w-full h-full">
          <img src="../../../../assets/img/depto.jpg" alt="" />
        </div>
        <div class="carousel-item w-full h-full">
          <img src="../../../../assets/img/hilux.webp" alt="" />
        </div>
      </div>
      <div class="max-w-md bg-gray-800 rounded-lg shadow-md p-6 summary">
        <p>
          Propiedad
          <span
            >Valor por noche:
            {{
              package.property.pricePerNight.price | currency : "USD" : "code"
            }}</span
          >
        </p>
        <p>
          Auto
          <span
            >{{ package.car.brand + " " + package.car.model }}
            {{ package.car.price.value | currency : "USD" : "code" }}</span
          >
        </p>
        <p>
          Asistencia medica
          <span
            >{{
              package.medicalAssistance.description || "Sin asistencia medica"
            }}
            {{ package.medicalAssistance.coverageType }}</span
          >
        </p>
        <p>
          CheckIn
          <span>{{ checkIn.value | date : "MMMM d, y" }}</span>
        </p>
        <p>
          CheckOut
          <span>{{ checkOut.value | date : "MMMM d, y" }}</span>
        </p>
        <div class="divider"></div>
        <p>
          Total
          <span>{{ totalPrice | currency : "USD" : "code" }}</span>
        </p>
        <app-button
          class="btn-submit"
          [type]="'submit'"
          [classType]="'primary'"
        >
          Reservar
        </app-button>
      </div>
    </section>
  </form>
  <confirmation-modal #confirmationModal (confirmationEvent)="confirmReserve()">
    <ng-container modal-title>Confirmar reserva</ng-container>
    <ng-container modal-message
      >Usted esta a punto de reservar la propiedad
    </ng-container>
  </confirmation-modal>
</div>
