<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable max-len -->
<navbar [showSearch]="true"></navbar>
<div class="mx-12">
  <header class="py-4">
    <h3 class="font-bold text-2xl">Nombre del paquete</h3>
  </header>
  <main>
    <div class="w-1/2 h-1/2">
      <img
        src="../../../../assets/img/depto.jpg"
        alt="Foto paquete"
        class="rounded-lg"
      />
    </div>
    <div class="flex flex-row justify-around py-4">
      <section>descripcion del paquete, info, etc.</section>
      <div class="flex flex-col items-center h-screen dark">
        <div class="w-96 max-w-md bg-gray-800 rounded-lg shadow-md p-6">
          <h3 class="text-2xl font-bold text-gray-200 mb-4">$1000 noche</h3>
          <form class="flex flex-col">
            <label>Check-in</label>
            <input
              placeholder="Check in"
              class="bg-gray-700 text-gray-200 border-0 rounded-md p-2 mb-4 focus:bg-gray-600 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
              type="date"
            />
            <label>Check-out</label>
            <input
              placeholder="Check out"
              class="bg-gray-700 text-gray-200 border-0 rounded-md p-2 mb-4 focus:bg-gray-600 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
              type="date"
            />
            <label>Huéspedes</label>
            <input
              placeholder="Cantidad"
              class="bg-gray-700 text-gray-200 border-0 rounded-md p-2 mb-4 focus:bg-gray-600 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"
              type="number"
            />

            <button
              class="bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150"
              type="submit"
            >
              Reservar
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer></app-footer>
