<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable max-len -->
<div class="collapse bg-base-200">
  <input type="checkbox" #formCollapse />
  <div class="collapse-title text-xl font-medium">
    {{ formTitle }}
  </div>
  <div class="collapse-content">
    <form [formGroup]="carsForm" (ngSubmit)="onSubmit(carsForm)">
      <div class="form-container">
        <app-input
          [label]="'Marca'"
          [placeholder]="''"
          [required]="true"
          [inputControl]="brand"
        ></app-input>
        <app-input
          [label]="'Modelo'"
          [placeholder]="''"
          [required]="true"
          [inputControl]="model"
        ></app-input>
        <app-input
          [label]="'Año'"
          [placeholder]="''"
          [required]="true"
          [inputControl]="year"
        ></app-input>
        <app-input
          [label]="'Patente'"
          [placeholder]="'abc123'"
          [required]="true"
          [inputControl]="plate"
        ></app-input>
        <app-input
          [label]="'Fecha'"
          [placeholder]="'yyyy-mm-dd'"
          [type]="'date'"
          [required]="true"
          [inputControl]="date"
        ></app-input>
        <app-input
          [label]="'Valor'"
          [placeholder]="''"
          [required]="true"
          [inputControl]="value"
        ></app-input>
        <div class="mb-4">
          <div>
            <label class="text-sm">Localidad</label>
          </div>
          <div class="flex flex-row justify-start items-center gap-10">
            <select
              name="'País'"
              class="select select-bordered w-60 max-w-xs"
              [formControl]="country"
              (change)="onCountryChange($event)"
            >
              <option value="" disabled selected hidden>
                Elige un país...
              </option>
              <option *ngFor="let country of countries" [value]="country.cca2">
                {{ country.name }}
              </option>
            </select>
            <select
              name="'Provincia/Estado'"
              class="select select-bordered w-60 max-w-xs"
              [formControl]="state"
              (change)="onStateChange($event)"
            >
              <option value="" disabled selected hidden>
                Provincia/estado
              </option>
              <option *ngFor="let state of states" [value]="state.isoCode">
                {{ state.name }}
              </option>
            </select>
            <select
              name="'Localidad'"
              class="select select-bordered w-60 max-w-xs"
              [formControl]="city"
            >
              <option value="" disabled selected hidden>Ciudad</option>
              <option *ngFor="let location of locations" [value]="location">
                {{ location }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="flex gap-5">
        <app-button
          (click)="closeForm()"
          [type]="'button'"
          [classType]="'cancel'"
        >
          Cancelar
        </app-button>
        <app-button [type]="'submit'" [classType]="'primary'">
          {{ buttonContent }}
        </app-button>
      </div>
    </form>
  </div>
</div>
<app-cars-list
  [cars]="cars"
  (DeleteEvent)="onDelete($event)"
  (UpdateEvent)="onUpdate($event)"
></app-cars-list>
