<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable max-len -->
<div class="collapse bg-base-200">
  <input type="checkbox" #formCollapse /> 
  <div class="collapse-title text-xl font-medium">
    {{formTitle}}
  </div>
  <div class="collapse-content"> 
    <div class="mt-6">
      <h2 class="text-base font-semibold leading-7 text-gray-900 title">{{formTitle}}</h2>
    </div>
     <form  [formGroup]="carsForm" (ngSubmit)="onSubmit(carsForm)">
      <div class="form-container">
        <app-input [label]="'Marca'" [placeholder]="''" [required]="true" [inputControl]="brand"></app-input>
        <app-input [label]="'Modelo'" [placeholder]="''" [required]="true" [inputControl]="model"></app-input>
        <app-input [label]="'Año'" [placeholder]="''" [required]="true" [inputControl]="year"></app-input>
        <app-input [label]="'Patente'" [placeholder]="'abc123'" [required]="true" [inputControl]="plate"></app-input>
        <app-input [label]="'Fecha'" [placeholder]="'yyyy-mm-dd'" [required]="true"[type]="'date'" [inputControl]="date"></app-input>
        <app-input [label]="'Valor'" [placeholder]="''" [required]="true" [inputControl]="value"></app-input>
        <div>
          <div>
          <label>Localidad</label>
          </div>
          <select name="'Localidad'" class="select select-bordered w-full max-w-xs" [formControl]="locality">
            <option *ngFor="let loca of localities" [value]="loca.id">{{loca.name}}</option>
          </select> 
        </div>
      </div>
        <app-button [type]="'submit'" [classType]="'primary'">
          {{buttonContent}}
        </app-button>
        <app-button (click)="closeForm()" [type]="'button'" [classType]="'cancel'">
          Cancelar
        </app-button>
    </form>
  </div>
</div>
<app-cars-list [cars]="cars" (DeleteEvent)="onDelete($event)" (UpdateEvent)="onUpdate($event)"></app-cars-list>
