<div class="px-10 py-5">
  <h2 class="text-lg font-bold">Registro de usuario</h2>
  <form
    class="grid grid-cols-1 sm:grid-cols-2 grid-rows-4 gap-2"
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit()"
  >
    <app-input
      [label]="'Nombre'"
      [placeholder]="''"
      [required]="true"
      [inputControl]="name"
    ></app-input>
    <app-input
      [label]="'Apellido'"
      [placeholder]="''"
      [required]="true"
      [inputControl]="lastname"
    ></app-input>
    <app-input
      [label]="'Dirección'"
      [placeholder]="''"
      [required]="true"
      [inputControl]="address"
    ></app-input>
    <app-input
      [label]="'Teléfono'"
      [placeholder]="''"
      [required]="true"
      [inputControl]="tel"
    ></app-input>
    <app-input
      [label]="'Email'"
      [placeholder]="''"
      [required]="true"
      [inputControl]="email"
    ></app-input>
    <app-input
      [label]="'Contraseña'"
      [placeholder]="''"
      [required]="true"
      [type]="'password'"
      [inputControl]="password"
    ></app-input>
    <app-input
      [label]="'Confirmar contraseña'"
      [placeholder]="''"
      [required]="true"
      [type]="'password'"
      [inputControl]="passwordConfirm"
    ></app-input>
    <app-button
      class="flex justify-start items-center"
      [classType]="'primary'"
      [type]="'submit'"
      >Registrarse</app-button
    >
  </form>
  <div
    class="alert alert-error"
    *ngIf="signInForm.errors?.['passwordsNotMatching'] && password.touched && passwordConfirm.touched"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span>Las contraseñas no coinciden</span>
  </div>
  <snackbar></snackbar>
</div>
