<div class="card card-compact w-80 lg:w-96 bg-base-100 shadow-xl">
  <figure><img loading="lazy" [src]="propertyInfo.image" class="h-[250px]" alt="property" /></figure>
  <div class="card-body">
    <h2 class="card-title text-lg border-solid border-b-2 border-slate-500 truncate">
      {{ propertyInfo.location }}
    </h2>
    <p>{{ propertyInfo.address }}</p>
    <p>Capacidad de {{ propertyInfo.capacity }} personas</p>
    <p>Tipo: {{ propertyInfo.propertyType.description }}</p>
    <div class="card-actions justify-end">
      <p class="card-price ">
        {{ propertyInfo.pricePerNight | currency : "USD" : "code"}}<span> /noche</span>
      </p>
      <app-button [classType]="'primary'" (click)="reserve(propertyInfo._id)">
        Reservar
      </app-button>
    </div>
  </div>
</div>
