<div class="card card-compact w-96 bg-base-100 shadow-xl">
  <figure><img [src]="propertyInfo.image" alt="property" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      {{ propertyInfo.location.name }}, <span>{{ propertyInfo.address }}</span>
    </h2>
    <p>Capacidad para {{ propertyInfo.capacity }} personas</p>
    <p>Tipo de Propiedad: {{ propertyInfo.propertyType.description }}</p>
    <p class="card-price">
      {{ propertyInfo.pricePerNight.price | currency : "USD" : "code"
      }}<span>/por noche</span>
    </p>
    <div class="card-actions justify-end">
      <app-button [classType]="'primary'" (click)="reserve(propertyInfo._id)">
        Reservar
      </app-button>
    </div>
  </div>
</div>
