<!-- eslint-disable max-len -->
<ng-container *ngIf="isLoading$ | async; else completed">
  <app-reserve-skeleton></app-reserve-skeleton>
</ng-container>
<ng-template #completed>
  <div class="container-reserve">
    <button
      type="button"
      (click)="back()"
      class="btn btn-ghost self-baseline cursor-pointer"
      #focus
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 ml-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
        />
      </svg>
      Volver
    </button>
    <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <section class="reserve-entry">
        <h2 class="title">
          Se ha seleccionado para reserva la propiedad perteneciente a
          <span>{{ property.location }}</span>
        </h2>
        <div class="data-entry min-h-2">
          <div class="selects">
            <div class="collapse collapse-plus bg-base-200">
              <input
                type="checkbox"
                name="my-accordion-3"
                #carSelect
                (click)="cleanCar()"
              />
              <div class="collapse-title text-l font-medium">
                Desea agregar un auto?
              </div>
              <div class="collapse-content">
                <select
                  class="select w-full max-w-xs"
                  [formControlName]="'car'"
                >
                  <option disabled selected>Seleccione un auto</option>
                  <option [value]="car.id" *ngFor="let car of cars">
                    {{ car.model }} {{ car.price | currency : "USD" : "code" }}
                  </option>
                </select>
              </div>
            </div>
            <div class="collapse collapse-plus bg-base-200">
              <input
                type="checkbox"
                name="my-accordion-3"
                #maSelect
                (click)="cleanMa()"
              />
              <div class="collapse-title text-l font-medium">
                Desea solicitar asistencia medica?
              </div>
              <div class="collapse-content">
                <select
                  class="select w-full max-w-xs"
                  [formControlName]="'medicalAssistance'"
                >
                  <option disabled selected>
                    Seleccione una asistencia medica
                  </option>
                  <option [value]="ma._id" *ngFor="let ma of medicalAssitance">
                    {{ ma.description }} {{ ma.coverageType }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div
            id="dates"
            class="max-w-sm lg:max-w-md bg-base-200 rounded-lg shadow-md flex justify-center p-4 max-h-[110px]"
          >
            <mat-form-field class="w-[380px] max-h-[80px]">
              <mat-label>CheckIn - CheckOut</mat-label>
              <mat-date-range-input [rangePicker]="picker" [min]="minDate" [dateFilter]="myFilter">
                <input matStartDate formControlName="checkIn" placeholder="Fecha desde">
                <input matEndDate formControlName="checkOut" placeholder="Fecha hasta">
              </mat-date-range-input>
              <mat-hint>Las fechas no disponibles aparecen oscuras.</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <span
              *ngIf="
                form.hasError('required') && form.get('checkIn')?.touched
              "
              class="label-text-alt text-red-500"
            >
              CheckIn debe de ser menor a CheckOut
            </span>
          </div>
        </div>
        <div class="divider text-base leading-6">Datos sobre la propiedad</div>
        <div class="flex flex-col gap-5 sm:w-md lg:w-full">
          <ul
            class="mt-6 grid grid-cols-1 justify-items-center gap-4 text-sm leading-6 text-gray-300 sm:grid-cols-3 sm:gap-6"
          >
            <li>Dirección : {{ property.address }}</li>
            <li>Ubicación: {{ property.location }}</li>
            <li>Capacidad: {{ property.capacity }} personas</li>
          </ul>
          <div class="divider text-base leading-6">Preguntas frecuentes</div>
          <div class="collapse bg-base-200">
            <input type="radio" name="my-accordion-1" checked="checked" />
            <div class="collapse-title text-xl font-medium">
              Que hacer luego de una reserva?
            </div>
            <div class="collapse-content">
              <p>
                Luego de que haya confirmado su reserva, nos estaremos
                comunicando con usted via mail y/o teléfono para proceder con el
                proceso de residencia. En la misma, se le explicara reglas
                basicas que se deben cumplir durante la estadia.
              </p>
            </div>
          </div>
          <div class="collapse bg-base-200">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium">
              Que cubren las asistencias medicas?
            </div>
            <div class="collapse-content">
              <p>
                Gracias a la confianza de nuestros afiliados, podemos ofrecer
                una cobertura completa ante cualquier caso extremo. Puede
                sentirse seguro al 100% durante su estadia.
              </p>
            </div>
          </div>
          <div class="collapse bg-base-200">
            <input type="radio" name="my-accordion-1" />
            <div class="collapse-title text-xl font-medium">
              En caso de alquilar un vehiculo, que uso puedo darle?
            </div>
            <div class="collapse-content">
              <p>
                Nuestros vehiculos estan para satisfacer cualquier demanda que
                usted necesite. No establecemos un limite en su uso, pero si
                ocurre algun daño al mismo, debera hacerse cargo de los gastos.
                No cubrimos los daños causados por nuestros clientes.
                Recomendamos el cuidado del mismo, tanto para usted como para
                nosotros.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="reserve-info w-full">
        <div class="divider">Informacion de reserva</div>
        <!-- <img [src]="property.image" alt="property reserved" class="image-full"/> -->
        <div
          class="carousel carousel-center p-4 space-x-4 bg-neutral rounded-box"
        >
          <div class="card">
            <figure>
              <img
                [src]="property.image"
                alt="property reserved"
                class="h-[250px] lg:max-w-[448px]"
              />
            </figure>
          </div>
        </div>
        <div class="max-w-md bg-gray-800 rounded-lg shadow-md p-6 summary">
          <div>
            <p>Propiedad</p>
            <div class="flex justify-between items-center">
              <span class="text-sm font-bold">Valor por noche </span>
              <span class="text-sm font-bold">
                {{
                  reserveSummary.property?.pricePerNight
                    | currency : "USD" : "code"
                }}
              </span>
            </div>
          </div>
          <div>
            <p>Auto</p>
            <div class="flex justify-between items-center">
              <span class="text-sm font-bold">{{
                reserveSummary.car?.model || "Sin auto"
              }}</span>
              <span class="text-sm font-bold">
                {{ reserveSummary.car?.price | currency : "USD" : "code" }}
              </span>
            </div>
          </div>
          <div>
            <p>Asistencia médica</p>
            <div class="flex justify-between items-center">
              <span class="text-sm font-bold">{{
                reserveSummary.medicalAssitance?.description ||
                  "Sin asistencia medica"
              }}</span>
              <span class="text-sm font-bold">
                {{
                  reserveSummary.medicalAssitance?.price
                    | currency : "USD" : "code"
                }}
              </span>
            </div>
          </div>
          <p>
            CheckIn
            <span>{{ reserveSummary.checkIn | date : "MMMM d, y" }}</span>
          </p>
          <p>
            CheckOut
            <span>{{ reserveSummary.checkOut | date : "MMMM d, y" }}</span>
          </p>
          <div class="divider"></div>
          <p>
            Total
            <span>{{
              reserveSummary.totalPrice | currency : "USD" : "code"
            }}</span>
          </p>
          <app-button
            class="btn-submit"
            [type]="'submit'"
            [classType]="hasReserves ? 'disabled' : 'primary'"
          >
            Reservar
          </app-button>
          <span class="text-red-500" *ngIf="hasReserves"
            >Perdon, pero no puede reservar por el momento.</span
          >
        </div>
      </section>
    </form>
  </div>
  <confirmation-modal
    #confirmationModal
    (confirmationEvent)="confirmReserve()"
  >
    <ng-container modal-title>Confirmar reserva</ng-container>
    <ng-container modal-message
      >Usted esta a punto de reservar la propiedad
      {{ reserveSummary.property?.location }}</ng-container
    >
  </confirmation-modal>
</ng-template>
