<!-- eslint-disable max-len -->
<div class="container-reserve">
  <button type="button" (click)="back()" class="btn btn-ghost self-baseline cursor-pointer " #focus>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
    </svg>
    Volver
  </button>
  <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <section class="reserve-entry">
      <h2 class="title">
        Se ha seleccionado para reserva la propiedad perteneciente a
        <span>{{property.location.name}}</span>
      </h2>
      <div class="data-entry">
        <div class="selects">
          <div class="collapse collapse-plus bg-base-200">
            <input type="checkbox" name="my-accordion-3" #carSelect (click)="cleanCar()" />
            <div class="collapse-title text-l font-medium">
              Desea agregar un auto?
            </div>
            <div class="collapse-content">
              <select class="select w-full max-w-xs" [formControlName]="'car'">
                <option disabled selected>Seleccione un auto</option>
                <option [value]="car.id" *ngFor="let car of cars">
                  {{car.model}} {{car.price.value | currency:'USD':'code'}}
                </option>
              </select>
            </div>
          </div>
          <div class="collapse collapse-plus bg-base-200">
            <input type="checkbox" name="my-accordion-3" #maSelect (click)="cleanMa()" />
            <div class="collapse-title text-l font-medium">
              Desea solicitar asistencia medica?
            </div>
            <div class="collapse-content">
              <select class="select w-full max-w-xs" [formControlName]="'medicalAssistance'">
                <option disabled selected>Seleccione una asistencia medica</option>
                <option [value]="ma._id" *ngFor="let ma of medicalAssitance">{{ma.description}} {{ma.coverageType}}</option>
              </select>
            </div>
          </div>
        </div>
        <div id="dates" class="max-w-md bg-gray-800 rounded-lg shadow-md p-6">
          <label for="">Check in</label>
          <app-input
            [placeholder]="'Check in'"
            [type]="'date'"
            [inputControl]="$any(form.get('checkIn'))"
          >
          </app-input>
          <label for="">Check out</label>
          <app-input
            [placeholder]="'Check in'"
            [type]="'date'"
            [inputControl]="$any(form.get('checkOut'))"
          >
          </app-input>
          <span *ngIf="form.hasError('invalidDate') && form.get('checkIn')?.touched" class="label-text-alt text-red-500">
            CheckIn debe de ser menor a CheckOut
          </span>
        </div>
      </div>
    </section>
    <section class="reserve-info">
      <div class="divider">Informacion de reserva</div>
      <div class="carousel carousel-center max-w-md p-4 space-x-4 bg-neutral rounded-box lg:hidden">
        <div class="carousel-item w-full h-full">
          <img [src]="propertyImgSrc" alt="property reserved" class="image-full" />
        </div>
        <div *ngIf="form.get('car')?.value" class="carousel-item w-full h-full">
          <img src="../../../../assets/img/hilux.webp" alt="" />
        </div>
      </div>
      <div #carousel class="carousel carousel-center max-w-md hidden p-4 space-x-4 bg-neutral rounded-box lg:inline-flex">
        <div id="1" class="carousel-item relative w-full">
          <img [src]="propertyImgSrc" class="w-full" alt="" />
          <div *ngIf="form.get('car')?.value" class="absolute flex justify-between transform -translate-y-1/2 left-2 right-2 top-1/2">
            <button type="button" (click)="scrollOnCarousel(2)" class="btn btn-ghost text-red-500">❮</button>
            <button type="button" (click)="scrollOnCarousel(2)" class="btn btn-ghost text-red-500">❯</button>
          </div>
        </div>
        <div *ngIf="form.get('car')?.value" id="2" class="carousel-item relative w-full">
          <img src="../../../../assets/img/hilux.webp" class="w-full" alt="" />
          <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-2 top-1/2">
            <button type="button" (click)="scrollOnCarousel(1)" class="btn btn-ghost text-red-500">❮</button>
            <button type="button" (click)="scrollOnCarousel(1)" class="btn btn-ghost text-red-500">❯</button>
          </div>
        </div>
      </div>
      <div class="max-w-md bg-gray-800 rounded-lg shadow-md p-6 summary">
        <p>
          Propiedad
          <span>Valor por noche {{reserveSummary.property?.pricePerNight?.price | currency:'USD':'code'}}</span>
        </p>
        <p>
          Auto
          <span>{{reserveSummary.car?.model || 'Sin auto'}} {{reserveSummary.car?.price?.value | currency:'USD':'code'}}</span>
        </p>
        <p>
          Asistencia medica
          <span>{{reserveSummary.medicalAssitance?.description || 'Sin asistencia medica'}} {{reserveSummary.medicalAssitance?.coverageType}}</span>
        </p>
        <p>CheckIn
          <span>{{reserveSummary.checkIn | date:'MMMM d, y'}}</span>
        </p>
        <p>
          CheckOut
          <span>{{reserveSummary.checkOut | date:'MMMM d, y'}}</span>
        </p>
        <div class="divider"></div>
        <p>
          Total
          <span>{{reserveSummary.totalPrice | currency: 'USD':'code'}}</span>
        </p>
        <app-button class="btn-submit" [type]="'submit'" [classType]="'primary'">
          Reservar
        </app-button>
      </div>
    </section>
  </form>
  <confirmation-modal #confirmationModal (confirmationEvent)="confirmReserve()">
    <ng-container modal-title>Confirmar reserva</ng-container>
    <ng-container modal-message>Usted esta a punto de reservar la propiedad {{reserveSummary.property?.location?.name}}</ng-container>
  </confirmation-modal>
</div>