<div class="flex justify-center p-6">
  <div class="p-6 bg-base-300 lg:min-w-[500px] rounded-md">
    <h2 class="text-lg font-bold divider leading-6">Recuperar contraseña</h2>
    <form
      [formGroup]="setPasswordForm"
      (ngSubmit)="onSubmitPassword()"
      *ngIf="authEmail"
    >
      <div class="flex flex-col items-center">
        <app-input
          class="w-[320px]"
          [label]="'Nueva contraseña'"
          [type]="'password'"
          [placeholder]="''"
          [inputControl]="newPassword"
        ></app-input>
        <app-input
          class="w-[320px]"
          [label]="'Repetir contraseña'"
          [type]="'password'"
          [placeholder]="''"
          [inputControl]="repeatPassword"
        ></app-input>
      </div>
      <div class="alert alert-error" *ngIf="responseError !== ''">
        <span>{{ responseError }}</span>
      </div>
      <app-button
        class="block w-full p-3 text-center"
        [classType]="'primary'"
        [type]="'submit'"
        >Cambiar</app-button
      >
    </form>
    <form
      [formGroup]="setMailForm"
      (ngSubmit)="onSubmitMail()"
      *ngIf="!authEmail"
    >
      <div class="flex flex-col items-center">
        <app-input
          class="w-[320px]"
          [label]="'Email'"
          [required]="true"
          [placeholder]="''"
          [inputControl]="mail"
        ></app-input>
      </div>
      <div class="alert alert-error" *ngIf="responseError !== ''">
        <span>{{ responseError }}</span>
      </div>
      <app-button
        class="block w-full p-3 text-center"
        [classType]="'primary'"
        [type]="'submit'"
        >Recuperar</app-button
      >
    </form>
    <p class="text-sm text-center" *ngIf="!authEmail">
      Recordaste?
      <a
        rel="noopener noreferrer"
        class="link link-primary"
        [routerLink]="'/login'"
        >Ingresá</a
      >
    </p>
  </div>
</div>
