<div class="flex justify-center p-6">
  <div class="p-6 bg-base-300 lg:min-w-[500px] rounded-md">
    <h2 class="text-lg font-bold divider leading-6">Recuperar contraseña</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col items-center">
        <app-input
          class="w-[320px]"
          [label]="'Email'"
          [required]="true"
          [placeholder]="''"
          [inputControl]="mail"
        ></app-input>
        <app-input
          class="w-[320px]"
          [label]="'Nueva contraseña'"
          [type]="'password'"
          [placeholder]="''"
          [inputControl]="newPassword"
        ></app-input>
        <app-input
          class="w-[320px]"
          [label]="'Repetir contraseña'"
          [type]="'password'"
          [placeholder]="''"
          [inputControl]="repeatPassword"
        ></app-input>
      </div>
      <div class="alert alert-error" *ngIf="responseError !== ''">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>{{ responseError }}</span>
      </div>
      <app-button
        class="block w-full p-3 text-center"
        [classType]="'primary'"
        [type]="'submit'"
        >Cambiar</app-button
      >
    </form>
    <p class="text-sm text-center">
      Recordaste? <a rel="noopener noreferrer" class="link link-primary" [routerLink]="'/login'">Ingresá</a>
    </p>
  </div>
</div>
