@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../src/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

:root {
  --mainColor: #eb5757;
}

body {
  font-family: "Montserrat", sans-serif;
}
