.carousel-paquetes {
  display: flex;
  overflow: hidden;
  max-width: 700px; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto;
}

.slide {
  flex: 0 0 100%;
}

img {
  width: 100%;
  height: auto;
}
.carousel-buttons{
  display: flex;
  justify-content: center;

  button {
    display: inline-block;
    margin: 10px 50px;
  }
}

.properties-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

