.carousel-paquetes {
  display: flex;
  overflow: hidden;
  max-width: 700px; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto;
}

.slide {
  flex: 0 0 100%;
}

img {
  width: 100%;
  height: auto;
}

.carousel-buttons{
  display: flex;
  justify-content: center;

  button {
    display: inline-block;
    margin: 10px 50px;
  }
}
.carousel-property{
  position: relative;
}
.btn-carousel{
  background-color: white;
  color: black;
  position: absolute;
  top: 10%;
  left: 2%;
  transform: translate(10%, 10%);
  // padding: 10px;
  border-radius: 5px;
}
.card-carousel{
  background-color: black;
  color: white;
  position: absolute;
  top: 5%;
  left: 40%;
  transform: translate(10%, 10%);
  // padding: 10px;
  border-radius: 10px;
}