<!-- eslint-disable max-len -->

<div class="p-6">
  <h2 class="text-base text-center font-semibold leading-7 text-gray-300 sm:text-start sm:text-lg">Listado de sus reservas</h2>
  <p class="mt-1 text-sm leading-6 text-gray-400">Recuerde que solo puede cancelar aquellas reservas que no hayan iniciado. Tiene hasta 24hs antes para cancelarla.</p>
  <div class="mt-6">
    <div class="divider divider-neutral"></div>
    <div class="lg:flex lg:w-full lg:min-h-screen">
      <div class="lg:flex-grow lg:min-w-[300px] lg:max-w-[350px]">
        <form [formGroup]="dateFilterForm" (ngSubmit)="filterReserves()">
          <h3 class="mb-2 text-base text-center font-semibold leading-5 text-gray-300">
            Filtros
          </h3>
          <div class="flex flex-col items-center">
            <div class="form-control w-full">
              <label class="label cursor-pointer">
                <span class="label-text">Fecha inicio</span>
                <input value="option1" formControlName="radioOption" type="radio" class="radio checked:bg-blue-500" />
              </label>
            </div>
            <input formControlName="dateFilter" class="transition ease-in-out delay-150 duration-200 input input-bordered w-full max-w-xs m-3" type="date">
          </div>
          <div class="flex flex-col items-center">
            <div class="form-control w-full">
              <label class="label cursor-pointer">
                <span class="label-text">Fecha fin</span>
                <input value="option2" formControlName="radioOption" type="radio" class="radio checked:bg-blue-500" />
              </label>
            </div>
            <input formControlName="dateFilter" class="transition ease-in-out delay-150 duration-200 input input-bordered w-full max-w-xs m-3" type="date">
          </div>
          <div class="flex justify-center gap-4">
            <button (click)="resetFilter()" type="button" class="btn btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>
            </button>
            <button [disabled]="!dateFilterForm.valid || reservesFiltered.length === 0" type="submit" class="btn btn-wide">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
              </svg>
              Aplicar filtro
            </button>
          </div>
        </form>
      </div>
      <div class="divider divider-neutral lg:hidden"></div>
      <div class="hidden lg:divider lg:divider-horizontal"></div>
      <div class="lg:flex-grow-[2]">
        <ng-container *ngIf="$isLoading | async; else list">
          <app-user-reserves-skeleton></app-user-reserves-skeleton>
        </ng-container>
        <ng-template #list>
          <ng-container *ngIf="reserves.length !== 0; else noReserves">
            <div *ngIf="reservesFiltered.length !== 0; else noFilter" class="flex flex-col gap-6 sm:flex-row sm:flex-wrap lg:flex-col">
              <div *ngFor="let r of reservesFiltered" class="collapse bg-[#eb5757] text-[white] font-medium sm:max-w-[380px] lg:max-w-none">
                <input type="checkbox" class="peer" />
                <div class="collapse-title peer-checked:bg-base-200 peer-checked:text-base-content">
                  <div class="lg:grid lg:grid-cols-[repeat(3,_minmax(300px,_350px))] lg:place-items-center lg:justify-items-start">
                    <span class="flex gap-2 my-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                      {{r.date_start | date}} a {{r.date_end | date}}
                    </span>
                    <p class="flex items-center gap-2 my-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                      </svg>
                      <span class="text-sm">{{r.packageReserved.property.address}}, {{r.packageReserved.property.location}}</span>
                    </p>
                    <div>
                      <div *ngIf="r.packageReserved.car !== null" class="badge badge-outline mr-1">+ Auto</div>
                      <div *ngIf="r.packageReserved.medicalAssistance !== null" class="badge badge-outline mx-1">+ Asistencia Medica</div>
                    </div>
                  </div>
                </div>
                <div class="collapse-content peer-checked:bg-base-200 peer-checked:text-base-content lg:grid lg:grid-cols-2 lg:gap-5">
                  <figure>
                    <img class="rounded" [src]="r.packageReserved.property.image" alt="Property image" />
                  </figure>
                  <div>
                    <span class="text-sm lg:text-lg">Informacion detallada:</span>
                    <ul class="list-disc pl-4">
                      <li class="text-sm lg:text-lg">
                        Dias reservados: {{r.date_start | date}} a {{r.date_end | date}}
                      </li>
                      <li class="text-sm lg:text-lg">
                        Valor noche: {{r.packageReserved.property.pricePerNight | currency: "USD" : "code"}}
                      </li>
                      <li class="text-sm lg:text-lg" *ngIf="r.packageReserved.car !== null">
                        Auto alquilado: {{r.packageReserved.car.brand}} {{r.packageReserved.car.model}}
                      </li>
                      <li class="text-sm lg:text-lg" *ngIf="r.packageReserved.medicalAssistance !== null">
                        Asistencia medica incluida: {{r.packageReserved.medicalAssistance.description}} {{r.packageReserved.medicalAssistance.coverageType}} {{ r.packageReserved.medicalAssistance.price | currency: "USD" : "code"}}
                      </li>
                    </ul>
                    <h3 class="mt-4 text-sm lg:text-lg font-semibold leading-7 text-gray-300">
                      Valor total por reserva: <span style="color: rgb(28, 197, 28)">{{r.totalPrice | currency : "USD" : "code"}}</span>
                    </h3>
                    <div class="flex justify-center my-3 lg:justify-start">
                      <button
                      type="button"
                      class="btn btn-outline btn-error"
                      [id]="r._id"
                      [disabled]="checkCurrentReserve(r)"
                      (click)="openModal($event)"
                      >
                      Cancelar reserva
                    </button>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noReserves>
            <div class="flex justify-center">
              <p class="text-slate-600">Sin reservas por el momento...Hace tu primera reserva! <a class="link link-primary" [routerLink]="'/'">Reservar</a></p>
            </div>
          </ng-template>
          <ng-template #noFilter>
            <div class="flex justify-center">
              <p class="text-slate-600">No hay reservas que apliquen a dicho filtro :(</p>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- <div class="mx-12">
  <h1 class="text-3xl py-4">Listado de reservas</h1>
  <form
    class="flex flex-row items-center gap-4"
    [formGroup]="dateFilterForm"
    (ngSubmit)="filterReserves()"
  >
    <span class="text-xl">Filtrar por fecha </span>
    <div>
      <label class="label cursor-pointer">
        <span class="label-text">Fecha inicio</span>
        <input
          type="radio"
          class="radio checked:bg-blue-500"
          checked
          value="option1"
          formControlName="radioOption"
        />
      </label>
    </div>
    <div>
      <label class="label cursor-pointer">
        <span class="label-text">Fecha fin</span>
        <input
          type="radio"
          class="radio checked:bg-blue-500"
          checked
          value="option2"
          formControlName="radioOption"
        />
      </label>
    </div>
    <input
      type="date"
      class="input input-bordered w-full max-w-[12rem]"
      formControlName="dateFilter"
    />
    <button class="btn btn-neutral" type="submit">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z"
        />
      </svg>
    </button>
    <button class="btn btn-neutral" type="button" (click)="resetFilter()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
        />
      </svg>
    </button>
  </form>
  <div class="alert alert-error" *ngIf="error">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span>Ha ocurrido un error</span>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Reserva</th>
          <th>Detalles</th>
          <th>Fecha</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserve of reserves">
          <th></th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img
                    [src]="
                      reserve.imageUrl.includes('undefined')
                        ? './assets/img/house.png'
                        : reserve.imageUrl
                    "
                    alt="Reserve picture"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">{{ reserve.location }}</div>
                <div class="text-sm opacity-50">
                  {{ reserve.propertyAddress }}
                </div>
              </div>
            </div>
          </td>
          <td>
            {{ reserve.car }}
            <br />
            <span class="badge badge-ghost badge-sm">{{
              reserve.medicalAssistance
            }}</span>
          </td>
          <td>{{ reserve.dateStart | date }} - {{ reserve.dateEnd | date }}</td>
          <td>{{ reserve.price | currency : "USD" : "code" }}</td>
          <th>
            <button
              class="btn btn-ghost btn-xs"
              [id]="reserve.id"
              [disabled]="checkCurrentReserve(reserve)"
              (click)="openModal($event)"
            >
              Cancelar reserva
            </button>
          </th>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div> -->
<confirmation-modal #confirmationModal (confirmationEvent)="cancelReserve()">
  <div modal-title>Cancelar reserva</div>
  <div modal-message>Está seguro de que desea cancelar su reserva?</div>
</confirmation-modal>
