<!-- eslint-disable max-len -->
<div class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-red-500">404</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-300 sm:text-5xl">Not found</h1>
    <p class="mt-6 text-base leading-7 text-white">Ups... La seccion a la que intentaste entrar no existe.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <app-button [classType]="'primary'" [routerLink]="'/home'">Volver</app-button>
    </div>
  </div>
</div>